body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body {
    background-image: url("../assets/firstpagebg.png");
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;    
    height: 100vh;                  
    margin: 0;
  }

  .page {
    width: 1920px;
    height: 1080px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  @font-face {
  font-family: 'TDTD';
  src: url('../assets/font.ttf') format('truetype');
}

body {
  font-family: 'TDTD', sans-serif;
}

body {
  font-size: 30px; 
  font-weight: 900;
}

h1 {
  color: #f9f7ff;
  margin-top: 100px;
  font-size: 82.3px;
  text-align: center;

  /* Add text outline */
  text-shadow:
    -2px -2px 0 #3f3568,
     2px -2px 0 #3f3568,
    -2px  2px 0 #3f3568,
     2px  2px 0 #3f3568;
}

.top-box {
  width: 100%;
  background-color: #c8baeb; 
  color: #c8baeb;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* make sure it's on top */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}